# Guided Project: Mobile App for Lottery Addiction

## Introduction

In this project, we'll be looking at the development of a mobile app that is meant to help lottery addicts better estimate their chances of winning.

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the [6/49](https://en.wikipedia.org/wiki/Lotto_6/49) lottery and build functions that enable users to answer questions like:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. [The data set](https://www.kaggle.com/datascienceai/lottery-dataset) has data for 3,665 drawings, dating from 1982 to 2018.

## Core Functions

As our goal is to write code that can enable users to answer probability questions about playing the lottery, throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

- A function that calculates factorials; and
- A function that calculates combinations.

In [6]:
# Function that calculates factorials
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

In [7]:
# Function that calculates combinations
def combinations(n, k):
    num = factorial(n)
    den = factorial(k) * factorial(n-k)
    return num / den

## One-ticket Probability

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way â€” in a way that people without any probability training are able to understand.

In [31]:
# Write a function named one_ticket_probability()
def one_ticket_probability(num):
    # Calculate total number of possible outcomes
    outcome = combinations(49, 6)
    # Calculate probability of one ticket
    prob_pct = 1 / outcome *100
    print("The probability of winning with the number {} is {:.7f}%. In other words, you have a 1 in {:,} chance of winning.".format(num, prob_pct, outcome))

In [32]:
# Test the function
list = [1, 2, 3, 4, 5, 6]
one_ticket_probability(list)

The probability of winning with the number [1, 2, 3, 4, 5, 6] is 0.0000072%. In other words, you have a 1 in 13,983,816.0 chance of winning.

## Historical Data Check for Canada Lottery

For the first version of the app, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Next, we'll focus on exploring the historical data coming from the Canada 6/49 lottery.

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

- NUMBER DRAWN 1
- NUMBER DRAWN 2
- NUMBER DRAWN 3
- NUMBER DRAWN 4
- NUMBER DRAWN 5
- NUMBER DRAWN 6

In [33]:
# Read in the dataset
import pandas as pd
drawings = pd.read_csv("649.csv")

drawings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [35]:
drawings.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [34]:
drawings.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## Function for Historical Data Check

We're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
    the number of times the combination selected occurred in the Canada data set; and
    the probability of winning the big prize in the next drawing with that combination.

In [64]:
# Extract all number drawn columns
number_drawn = drawings[["NUMBER DRAWN 1", "NUMBER DRAWN 2", "NUMBER DRAWN 3", "NUMBER DRAWN 4", "NUMBER DRAWN 5", "NUMBER DRAWN 6"]]
number_drawn.head()

,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6
0,3,11,12,14,41,43
1,8,33,36,37,39,41
2,1,6,23,24,27,39
3,3,9,10,13,20,43
4,5,14,21,31,34,47

In [66]:
# Function that takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers 
def extract_numbers(row):
    return set(row)

winning_numbers = number_drawn.apply(extract_numbers, axis=1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [74]:
# Function to compare the user numbers against the winning numbers

def check_historical_occurence(u_num, w_num):
    # Convert the user numbers list to a set
    user_num = set(u_num)
    total_times = 0
    for i in w_num:
        if user_num == i:
            total_times +=1
    outcome = combinations(49, 6)
    pct = total_times / outcome * 100
    
    # Alternative code to find out total_times
    # user_numbers_set = set(user_numbers)
    # check_occurrence = historical_numbers == user_numbers_set
    # n_occurrences = check_occurrence.sum()
    
    print("The number of times the {} combination occurred in the past is {}. The probability of winning the big prize in the next drawing with that combination is {:.7f}%.".format(u_num, total_times, pct))

In [78]:
user_list = [38, 40, 41, 10, 15, 23]

check_historical_occurence(user_list, winning_numbers)

The number of times the [38, 40, 41, 10, 15, 23] combination occurred in the past is 1. The probability of winning the big prize in the next drawing with that combination is 0.0000072%.

## Multi-ticket Probability

So far, we wrote two functions:

- one_ticket_probability() â€” calculates the probability of winning the big prize with a single ticket
- check_historical_occurrence() â€” checks whether a certain combination has occurred in the Canada lottery data set

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning, thus, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [103]:
# Function telling probability of winning the big prize depending on the number of different tickets played

def multi_ticket_probability(num_tickets):
    outcome = int(combinations(49, 6))
    sc_outcome = num_tickets
    prob_pct = sc_outcome / outcome *100
    
    if sc_outcome == 1:
        print("The probability of winning the big prize with 1 ticket is {:.7f}%. In other words, you have a 1 in {:,} chances of winning.".format(prob_pct, outcome))
    else:
        updated_outcome = round(outcome / sc_outcome)
        print("The probability of winning the big prize with {:,} ticket is {:.7f}%. In other words, you have a 1 in {:,} chance(s) of winning.".format(num_tickets, prob_pct, updated_outcome))

In [104]:
test_input = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for i in test_input:
    multi_ticket_probability(i)
    print("-"*15)

The probability of winning the big prize with 1 ticket is 0.0000072%. In other words, you have a 1 in 13,983,816 chances of winning.
---------------
The probability of winning the big prize with 10 ticket is 0.0000715%. In other words, you have a 1 in 1,398,382 chance(s) of winning.
---------------
The probability of winning the big prize with 100 ticket is 0.0007151%. In other words, you have a 1 in 139,838 chance(s) of winning.
---------------
The probability of winning the big prize with 10,000 ticket is 0.0715112%. In other words, you have a 1 in 1,398 chance(s) of winning.
---------------
The probability of winning the big prize with 1,000,000 ticket is 7.1511238%. In other words, you have a 1 in 14 chance(s) of winning.
---------------
The probability of winning the big prize with 6,991,908 ticket is 50.0000000%. In other words, you have a 1 in 2 chance(s) of winning.
---------------
The probability of winning the big prize with 13,983,816 ticket is 100.0000000%. In other words, you have a 1 in 1 chance(s) of winning.
---------------

## Less Winning Numbers â€” Function

So far, we've written three main functions. Next, we're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

- Inside the app, the user inputs:
    six different numbers from 1 to 49; and
    an integer between 2 and 5 that represents the number of winning numbers expected
- Our function prints information about the probability of having the inputted number of winning numbers.

In [126]:
# Function  which takes in an integer between 2 and 5 and prints information about the chances of winning depending on the value of that integer
# As there are 6 numbers on a ticket which wins these prizes. To
# match k of the winning numbers, we must select k of 6 winning numbers AND we must select
# (6 âˆ’ k) of the 43 non-winning numbers
# Total 49 numbers: 6 winning numbers & 43 non-winning numbers

def probability_less_6(k):
    # Succesful outcomes for k of 6 winning numbers
    outcome_winning_numbers = combinations(6, k)
    # Successful outcomes for (k - 1) of 43 non-winning numbers
    outcome_non_winning_numbers = combinations(43, 6 - k)
    # Total successful outcomes
    total_successful_outcomes =  outcome_winning_numbers * outcome_non_winning_numbers
    # Number of total outcomes for choosing 6 of 49 numbers 
    total_possible_outcome = combinations(49, 6)
    # Probability in percentage of having exactly k winning numbers
    prob = total_successful_outcomes / total_possible_outcome * 100
    chances = round(total_possible_outcome / total_successful_outcomes)
    print("The probability of having exactly {} winning numbers for a single lottery ticket is: {:.6}%. In other words, you have a 1 in {} chances to win.".format(k, prob, chances))

In [128]:
test_inputs = [2, 3, 4, 5]
for i in test_inputs:
    probability_less_6(i)
    print("-"*16)

The probability of having exactly 2 winning numbers for a single lottery ticket is: 13.2378%. In other words, you have a 1 in 8 chances to win.
----------------
The probability of having exactly 3 winning numbers for a single lottery ticket is: 1.76504%. In other words, you have a 1 in 57 chances to win.
----------------
The probability of having exactly 4 winning numbers for a single lottery ticket is: 0.096862%. In other words, you have a 1 in 1032 chances to win.
----------------
The probability of having exactly 5 winning numbers for a single lottery ticket is: 0.00184499%. In other words, you have a 1 in 54201 chances to win.
----------------

## Conclusion

In this project, we've managed to write four main functions for our app:

- one_ticket_probability() â€” calculates the probability of winning the big prize with a single ticket
- check_historical_occurrence() â€” checks whether a certain combination has occurred in the Canada lottery data set
- multi_ticket_probability() â€” calculates the probability for any number of of tickets between 1 and 13,983,816
- probability_less_6() â€” calculates the probability of having two, three, four or five winning numbers

Possible features for a second version of the app include:

- Making the outputs even easier to understand by adding fun analogies (for example, we can find probabilities for strange events and compare with the chances of winning in lottery; for instance, we can output something along the lines "You are 100 times more likely to be the victim of a shark attack than winning the lottery").
- Combining the one_ticket_probability() and check_historical_occurrence() to output information on probability and historical occurrence at the same time.
- Creating a function similar to probability_less_6() which calculates the probability of having at least two, three, four or five winning numbers. Hint: the number of successful outcomes for having at least four winning numbers is the sum of these three numbers:
    - The number of successful outcomes for having four winning numbers exactly
    - The number of successful outcomes for having five winning numbers exactly
    - The number of successful outcomes for having six winning numbers exactly